{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "rules": {
    "no-duplicate-imports": [ 0 ],
    "import/no-duplicates": [ 2 ],
  }
}
